/* Add this CSS to your component or a separate CSS file */
body {
  background-color: #2a303c;
  color: #a3aec5;
  font-family: 'Arial', sans-serif; /* You can change the font-family as needed */
}

textarea {
  background-color: #222731;
  color: #a3aec5;
  border: 1px solid #a3aec5;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #2a303c;
  color: #a3aec5;
  padding: 10px;
  border: 1px solid #a3aec5;
  cursor: pointer;
}

button:hover {
  background-color: #3b4252;
}

label {
  display: block;
  margin-bottom: 5px;
}

label > textarea {
  display: block;
  width: 100%;
}

label > button {
  display: block;
  margin-top: 10px;
}

/* Additional styles for the output textarea */
label > textarea[readonly] {
  background-color: #2a303c;
  color: #a3aec5;
  border: 1px solid #a3aec5;
  padding: 8px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}
